@font-face {
  font-family: "VNF-Comic Sans";
  src: url("../public/fonts/VNF-Comic Sans.ttf") format("truetype");
}

* {
  font-family: "VNF-Comic Sans";
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #f2f2f2;
}
