.navbar {
  color: #27272a;
  margin: 0px;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid black;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background-color: #f2f2f2;
}

.logo {
  margin: 0px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #4f46e5;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
